{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": true,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleQuote": false,
        "parser": "html"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "indentWidth": 2
      }
    }
  ]
}
